<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMachineLinkService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.2:20101/MachineLink/MachineLink"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMachineLinkService"
                contract="MachineLinkService.IMachineLinkService" name="BasicHttpBinding_IMachineLinkService" />
        </client>
    </system.serviceModel>
</configuration>