<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMachineLinkService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:20101/MachineLink/MachineLink"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMachineLinkService"
                contract="MachineLinkServiceReference.IMachineLinkService"
                name="WSHttpBinding_IMachineLinkService">
                <identity>
                    <userPrincipalName value="adam.tunbridge@CPE.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>